/* cvGlobal.css */

/* Conteneur principal du cv */
.cv-section {
    display: flex
;
    gap: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
  }
  
  /* Colonne top */
  .cv-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }
  
  .cv-top img {
    margin-left: 5rem;
    width: 130px;
    height: 210px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
    object-fit: cover;
  }
  
  .infotop {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cv-top h1 {
    font-size: 5rem;
    text-align: center;
    color: #ff6060;
  }
  
  .cv-top h2 {
    font-size: 1.2rem;
    text-align: center;
    color: #333;
  }


  /* Organisation des deux colonnes */
    .cv-content {
    display: flex;
    gap: 3rem;
  }

/* ASF alexandre-savoir-faire */
  .alexandre-savoir-faire {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  
  .cv-ASF {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 2rem;
  }
  
  /* Sections  ASF */
  .cv-ASF .section {
    margin-bottom: 1.5rem;
  }
  
  .cv-ASF h2 {
    color: #ff6060;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ff6060;
    padding-bottom: 0.5rem;
  }
  
  .cv-ASF ul {
    list-style: disc;
    padding-left: 1.5rem;
  }
  
  .cv-ASF ul li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
  
  .cv-ASF ul li a {
    color: #0073e6;
    text-decoration: none;
  }
  
  .cv-ASF ul li a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design Conteneur principal cv */
  @media (max-width: 768px) {
    .cv-section {
      grid-template-columns: 1fr; /* Affiche une seule colonne */
    }
  
    .cv-left {
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  /* Responsive Design Conteneur principal cv  */
  @media (max-width: 425px) {
    .cv-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
      }
      .cv-content {
        display: flex;
        flex-direction: column-reverse;
    }
    .cv-top img {
        margin-left: 0rem;
        width: 200px;
        height: 400px;
      }
      .cv-top h2 {
        font-size: 2rem;
    }
    nav ul li {
        font-size: 0.8rem;
    }
  }

  @media (max-width: 375px) {
    .cv-top h1 {
        font-size: 4rem;
    }
    nav ul li {
        font-size: 0.7rem;
    }
  }
  

  /* Sections  presentation */
  .presentation{
    margin-bottom: 2rem;
  }
  .section-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .image-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .image-presentation img{
    width: 600px; 
    height: 450px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .section-presentation P{
    width: 80rem;
    font-size: 1.5rem;
  }

  .section-presentation h2{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  /* Sections  presentation */
  @media (max-width: 1024px) {
    .section-presentation P{
        width: 50rem;
        font-size: 1.5rem;
      }
  }

  /* Sections  presentation */
  @media (max-width: 768px) {
    .section-presentation{
        text-align: center;
      }
    .section-presentation P{
        width: 30rem;
        font-size: 1.5rem;
      }
  }

  /* Sections  presentation */
  @media (max-width: 425px) {
    .image-presentation img{
        width: 250px; 
        height: 150px;
      }
      .section-presentation P{
        width: 20rem;
        font-size: 11px;
      }
  }

 /* Sections objectifs presentation */
  .section-objectifs-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .section-objectifs-presentation li{
    width: 80rem;
    font-size: 1.5rem;
  }

  /* Sections objectifs presentation */
  @media (max-width: 1024px) {
    .section-objectifs-presentation li{
        width: 50rem;
        font-size: 1.5rem;
      }
  }
  /* Sections objectifs presentation */
  @media (max-width: 768px) {
    .section-objectifs-presentation li{
        width: 30rem;
        font-size: 1.5rem;
      }
  }

  /* Sections objectifs presentation */
  @media (max-width: 425px) {
      .section-objectifs-presentation li{
        width: 20rem;
        font-size: 11px;
      }
  }

/* Sections competance cles */
  .section-competance-cles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .section-competance-cles li{
    width: 80rem;
    font-size: 1.5rem;
  }

  /* Sections competance cles */
  @media (max-width: 1024px) {
    .section-competance-cles li{
        width: 50rem;
        font-size: 1.5rem;
      }
  }

  /* Sections competance cles */
  @media (max-width: 768px) {
    .section-competance-cles li{
        width: 30rem;
        font-size: 1.5rem;
      }
  }

  /* Sections competance cles */
  @media (max-width: 425px) {
    .section-competance-cles li{
      width: 20rem;
      font-size: 11px;
    }
}

  /* Sections projets presentation */
  .section-projets-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .section-projets-presentation li{
    width: 80rem;
    font-size: 1.5rem;
  }

  /* Sections projets presentation */
  @media (max-width: 1024px) {
    .section-projets-presentation li{
        width: 50rem;
        font-size: 1.5rem;
      }
  }
  /* Sections projets presentation */
  @media (max-width: 768px) {
    .section-projets-presentation li{
        width: 30rem;
        font-size: 1.5rem;
      }
  }

  /* Sections projets presentation */
  @media (max-width: 425px) {
    .section-projets-presentation li{
      width: 20rem;
      font-size: 11px;
    }
    .section-projets-presentation p{
        width: 20rem;
        font-size: 11px;
    }
}

  /* Sections stages presentation */
  .section-stages-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .section-stages-presentation li{
    width: 80rem;
    font-size: 1.5rem;
  }

  /* Sections stages presentation */
  @media (max-width: 1024px) {
    .section-stages-presentation li{
        width: 50rem;
        font-size: 1.5rem;
      }
  }

  /* Sections stages presentation */
  @media (max-width: 768px) {
    .section-stages-presentation li{
        width: 30rem;
        font-size: 1.5rem;
      }
  }

  /* Sections stages presentation */
  @media (max-width: 425px) {
    .section-stages-presentation li{
      width: 20rem;
      font-size: 11px;
    }
    .section-stages-presentation p{
        width: 20rem;
        font-size: 11px;
    }
}